<OFPutVar name="babHtmlEntities" value="1">

<div class="recent-activity-element article-modified icon-top-32 icon-top icon-32x32">

  <OCDbDirectoryEntry directoryid="1" userid="<OVArticleModifiedBy>">
 
    <OCIfNotEqual expr1="<OVjpegphotoValue>" expr2="">
      <img class="photo" width="32" src="<OVjpegphotoValue>" alt="<OVgivennameValue> <OVsnValue>" />
    </OCIfNotEqual>
    <OCIfEqual expr1="<OVjpegphotoValue>" expr2="">
      <div class="photo icon apps-users" title="<OVgivennameValue> <OVsnValue>"></div>
    </OCIfEqual>

    <a href="<OVDirectoryEntryMemberUrl>"><OVArticleModifiedBy author="%F %L"></a> <OFTranslate text="has updated the article"> <a href="<OVArticleUrl>"><OVArticleTitle></a> <OFTranslate text="on"> <OVArticleDateModification htmlentities="0" date="%S %T">
    <br style="clear: both" />

  </OCDbDirectoryEntry> 

</div>