<OFPutVar name="babHtmlEntities" value="1">

<div class="recent-activity-element file-uploaded icon-top-32 icon-top icon-32x32">

  <OCDbDirectoryEntry directoryid="1" userid="<OVFileModifiedBy>">
 
    <OCIfNotEqual expr1="<OVjpegphotoValue>" expr2="">
      <img class="photo" width="32" src="<OVjpegphotoValue>" alt="<OVgivennameValue> <OVsnValue>" />
    </OCIfNotEqual>
    <OCIfEqual expr1="<OVjpegphotoValue>" expr2="">
      <div class="photo icon apps-users" title="<OVgivennameValue> <OVsnValue>"></div>
    </OCIfEqual>

    <a href="<OVDirectoryEntryMemberUrl>"><OVFileModifiedBy author="%F %L"></a> <OFTranslate text="has uploaded the document"> <a href="<OVFileUrlGet>"><OVFileName></a> <OFTranslate text="on"> <OVFileDate htmlentities="0" date="%S %T">
    <br style="clear: both" />

  </OCDbDirectoryEntry> 

</div>
