<OFPutVar name="babHtmlEntities" value="1">

<table width="100%" border="0" cellspacing="0" cellpadding="1">
<OCRecentArticles from_lastlog="100"> 
<tr> 
<td align="center" nowrap><ArticleDate date="%S %T"></td>
<td> - <a href="<ArticleUrl>"><ArticleTitle strlen="100,..."></a></td>

</tr>
</OCRecentArticles>
</table>
