<OFPutVar name="babHtmlEntities" value="1">

<div id="bab_summary_upcomingevents" style="display:none">
<br />
<OFIfNotIsSet name="nbdays" value="7">
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
	<td class="BabLoginCadreBackground"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle"><OFTranslate text="Upcoming Events ( in the seven next days )"></td>
		</tr>
		</table>
	</td>
</tr>
</table>
<table border="0" cellpadding="2" cellspacing="0" align="center" width="95%">
	<tr>
	<td class="BabLoginCadreBackground"> 
		<table border="0" width="100%" cellpadding="3" cellspacing="0">
			<OCCalendarEvents limit="0,<OVnbdays>">
				<OCIfEqual expr1="<OVCIndex>" expr2="0">
				<script type="text/javascript">
					document.getElementById('bab_summary_upcomingevents').style.display = '';
				</script>
				</OCIfEqual>
			<OFAOModulus expr1="<OVCIndex>" expr2="2" saveas="modulo">
			<tr class="<OCIfEqual expr1="<OVmodulo>" expr2="0">BabSiteAdminFontBackground</OCIfEqual><OCIfNotEqual expr1="<OVmodulo>" expr2="0">BabForumBackground1</OCIfNotEqual>">
				<td><OVEventBeginDate date="%S %T"></td>
				<td><a class="BabSummaryLinkColor" href="<OVEventUrl>" onclick="bab_popup(this.href);return false;"><OVEventTitle>&nbsp;</a></td>
				<td align="center"><OVEventEndDate date="%S %T"></td>
			</tr>
			</OCCalendarEvents>
		</table>
	</td>
	</tr>
</table>
</div>