<OFPutVar name="babHtmlEntities" value="1">

<OFPutVar name="babSkinPath">
<div id="bab_summary_waitingarticles" style="display:none">
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
	<tr> 
	<td class="BabLoginCadreBackground"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle"><OFTranslate text="Waiting articles"></td>
		</tr>
		</table>
	</td>
	</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
<table  border="0" width="100%" cellpadding="2" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td><OFTranslate text="Date">&nbsp;</td>
		<td><OFTranslate text="Article">&nbsp;</td>
		<td><OFTranslate text="Author">&nbsp;</td>
		<td align="right"><OFTranslate text="Validation">&nbsp;</td>
	</tr>
	<OCWaitingArticles>
		<OCIfEqual expr1="<OVCIndex>" expr2="0">
		<script type="text/javascript">
			document.getElementById('bab_summary_waitingarticles').style.display = '';
		</script>
		</OCIfEqual>
	<OFAOModulus expr1="<OVCIndex>" expr2="2" saveas="modulo">
	<tr class="<OCIfEqual expr1="<OVmodulo>" expr2="0">BabSiteAdminFontBackground</OCIfEqual><OCIfNotEqual expr1="<OVmodulo>" expr2="0">BabForumBackground1</OCIfNotEqual>">
		<td width="120"><OVArticleDate date="%S %T"></td>
		<td align="left" colspan="3"><span style="font-Size:9"><OCArticleTopic topicid="<OVArticleTopicId>"><OCParentsArticleCategory categoryid="<OVTopicCategoryId>"><OVCategoryName strlen="50,..."> /</OCParentsArticleCategory><OCArticleCategory categoryid="<OVTopicCategoryId>"><OVCategoryName strlen="50,..."> /</OCArticleCategory><OCArticleTopic topicid="<OVArticleTopicId>"><OVTopicName strlen="50,..."> /</OCArticleTopic></OCArticleTopic></span></td>
	</tr>
	<tr class="<OCIfEqual expr1="<OVmodulo>" expr2="0">BabSiteAdminFontBackground</OCIfEqual><OCIfNotEqual expr1="<OVmodulo>" expr2="0">BabForumBackground1</OCIfNotEqual>">
		<td>&nbsp;</td>
		<td align="left"><a href="<OVArticlePopupUrl>" target="_blank" onclick="Start('<OVArticlePopupUrl>', 'OviArt', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');return false;"><OVArticleTitle strlen="100,..."></a></td>
		<td><OVArticleAuthor author="%F %L"></td>
		<td align="right"><a href="<OVArticleUrl>"><img src="<OVbabSkinPath>images/Puces/confirm.gif" border="0" alt="" /></a></td>
	</tr>
	</OCWaitingArticles>
</table>
</td>
</tr>
</table>
</div>

<div id="bab_summary_waitingcomments" style="display:none">
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
	<td class="BabLoginCadreBackground"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle"><OFTranslate text="Waiting comments"></td>
		</tr>
		</table>
	</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table  border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td><OFTranslate text="Date">&nbsp;</td>
		<td><OFTranslate text="Comment">&nbsp;</td>
		<td><OFTranslate text="Author">&nbsp;</td>
		<td align="right"><OFTranslate text="Validation">&nbsp;</td>
	</tr>
	<OCWaitingComments>
		<OCIfEqual expr1="<OVCIndex>" expr2="0">
		<script type="text/javascript">
			document.getElementById('bab_summary_waitingcomments').style.display = '';
		</script>
		</OCIfEqual>
	<OFAOModulus expr1="<OVCIndex>" expr2="2" saveas="modulo">
	<tr class="<OCIfEqual expr1="<OVmodulo>" expr2="0">BabSiteAdminFontBackground</OCIfEqual><OCIfNotEqual expr1="<OVmodulo>" expr2="0">BabForumBackground1</OCIfNotEqual>">
		<td width="120"><OVCommentDate date="%S %T"></td>
		<td align="left"><span style="font-Size:9"><OCArticleTopic topicid="<OVCommentTopicId>"><OCParentsArticleCategory categoryid="<OVTopicCategoryId>"><OVCategoryName strlen="15,..."> /</OCParentsArticleCategory><OCArticleCategory categoryid="<OVTopicCategoryId>"><OVCategoryName strlen="15,..."> /</OCArticleCategory><OCArticleTopic topicid="<OVCommentTopicId>"><OVTopicName strlen="15,..."> /</OCArticleTopic></OCArticleTopic><OCArticle articleid="<OVCommentArticleId>"><a href="<OVArticlePopupUrl>" target="_blank" onclick="Start('<OVArticlePopupUrl>', 'OviArt', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');return false;"><OVArticleTitle strlen="50,..."></a> </OCArticle></span></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="<OCIfEqual expr1="<OVmodulo>" expr2="0">BabSiteAdminFontBackground</OCIfEqual><OCIfNotEqual expr1="<OVmodulo>" expr2="0">BabForumBackground1</OCIfNotEqual>">
		<td>&nbsp;</td>
		<td><a href="<OVCommentPopupUrl>" target="_blank" onclick="Start('<OVCommentPopupUrl>', 'OviCom', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');return false;"><OVCommentTitle strlen="100,..."></a></td>
		<td width="130"><OVCommentAuthor>&nbsp;</td>
		<td align="right"><a href="<OVCommentUrl>"><img src="<OVbabSkinPath>images/Puces/confirm.gif" border="0" alt=""></a></td>
	</tr>
	</OCWaitingComments>
	</table>
</td>
</tr>
</table>
</div>

<div id="bab_summary_waitingposts" style="display:none">
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
	<td class="BabLoginCadreBackground"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle"><OFTranslate text="Waiting posts"></td>
		</tr>
		</table>
	</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table  border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td><OFTranslate text="Date">&nbsp;</td>
		<td>&nbsp;</td>
		<td><OFTranslate text="Contribution">&nbsp;</td>
		<td><OFTranslate text="Author">&nbsp;</td>
		<td align="right"><OFTranslate text="Validation">&nbsp;</td>
	</tr>
	<OCWaitingPosts> 
		<OCIfEqual expr1="<OVCIndex>" expr2="0">
		<script type="text/javascript">
			document.getElementById('bab_summary_waitingposts').style.display = '';
		</script>
		</OCIfEqual>
	<OFAOAddition expr1="<OVPostThreadId>" expr2="0" saveas="temp">
	<OFAOModulus expr1="<OVCIndex>" expr2="2" saveas="modulo">
	<tr class="<OCIfEqual expr1="<OVmodulo>" expr2="0">BabSiteAdminFontBackground</OCIfEqual><OCIfNotEqual expr1="<OVmodulo>" expr2="0">BabForumBackground1</OCIfNotEqual>">
		<td width="120"><OVPostDate date="%S %T"></td>
		<td align="right"><span style="font-Size:9"><OCForum forumid="<OVPostForumId>"><OVForumName strlen="20,..."> / </OCForum><OCPost postid="<OVPostThreadId>"><OVPostTitle strlen="20,..."> / </OCPost></span></td>
		<td align="left"><a href="<OVPostPopupUrl>" target="_blank" onclick="Start('<OVPostPopupUrl>', 'OviPost', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');return false;"><OVPostTitle strlen="100,..."></a></td>
		<td><OVPostAuthor></td>
		<td align="right"><a href="<OVPostUrl>"><img src="<OVbabSkinPath>images/Puces/confirm.gif" border="0" alt=""></a></td>
	</tr>
	</OCWaitingPosts>
	</table>
</td>
</tr>
</table>
</div>

<div id="bab_summary_waitingfiles" style="display:none">
<br />
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr> 
	<td class="BabLoginCadreBackground"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		<tr> 
		<td class="BabLoginMenuBackground" width="90%" valign="middle"><OFTranslate text="Waiting files"></td>
		</tr>
		</table>
	</td>
</tr>
</table>
<table border="0" width="95%" cellpadding="2" cellspacing="0" align="center">
<tr>
<td class="BabLoginCadreBackground"> 
	<table  border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr class="BabSiteAdminTitleFontBackground">
		<td><OFTranslate text="Date">&nbsp;</td>
		<td><OFTranslate text="File">&nbsp;</td>
		<td><OFTranslate text="Author">&nbsp;</td>
		<td align="right"><OFTranslate text="Validation">&nbsp;</td>
	</tr>
	<OCWaitingFiles>
		<OCIfEqual expr1="<OVCIndex>" expr2="0">
		<script type="text/javascript">
			document.getElementById('bab_summary_waitingfiles').style.display = '';
		</script>
		</OCIfEqual>
	<OFAOModulus expr1="<OVCIndex>" expr2="2" saveas="modulo">
	<tr class="<OCIfEqual expr1="<OVmodulo>" expr2="0">BabSiteAdminFontBackground</OCIfEqual><OCIfNotEqual expr1="<OVmodulo>" expr2="0">BabForumBackground1</OCIfNotEqual>">
		<td width="120"><OVFileDate date="%S %T"></td>
		<td colspan="3"><OCFolders folderid="<OVFileFolderId>"><OVFolderName></OCFolders>/ <OVFilePath></td>
	</tr>
	<tr class="<OCIfEqual expr1="<OVmodulo>" expr2="0">BabSiteAdminFontBackground</OCIfEqual><OCIfNotEqual expr1="<OVmodulo>" expr2="0">BabForumBackground1</OCIfNotEqual>">
		<td>&nbsp;</td>
		<td><a href="<OVFilePopupUrl>" target="_blank" onclick="Start('<OVFilePopupUrl>', 'OviFile', 'width=650,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');return false;" title="<OVFileDescription>"><OVFileName></a></td>
		<td><OVFileAuthor author="%F %L"></td>
		<td align="right"><a href="<OVFilePopupUrl urlencode="1">" target="_blank" onclick="Start('<OVFilePopupUrl urlencode="1">', 'OviPost', 'width=550,height=500,status=no,resizable=yes,top=200,left=200,scrollbars=yes');return false;"><img src="<OVbabSkinPath>images/Puces/confirm.gif" border="0" alt=""></a></td>
	</tr>
	</OCWaitingFiles>
	</table>
</td>
</tr>
</table>
</div>