.photo {
	border: 1px solid #eee;
	float: left;
	margin-right: 4px
}
img.photo {
	width: 32px;
	height: 32px;
}
.icon-top-32 .photo.icon {
    background-position: center center;
    min-width: 32px;
    padding: 32px 0 0;
}
.recent-activity-element {
	border-bottom: 1px solid grey;
	padding: 4px
}
.bloc_nav {
	display: none;
}
.title-portlet-article {
	display:inline;
	
}
.portal-item-link{
	text-decoration:none!important;
}
.portal-item-link img {
	padding:5px;
}

.portal-item-link p {
	padding:5px;
}